---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import { instructors } from '../../data/instructors';
---

<Layout title="Instructors">
  <Nav />

  <header class="section_header80 background-color-grey">
    <div class="padding-global">
      <div class="header80_component">
        <div class="header80_content-wrapper">
          <div class="header80_images-wrapper">
            <div class="header80_image-list">
              <div class="header80_image-wrapper is-image-1">
                <img loading="lazy" alt="Karen Miller profile picture" src="/images/Instructor-Hero-1_1.avif" class="header80_image" />
              </div>
              <div class="header80_image-wrapper is-image-2">
                <img loading="lazy" alt="Instructor with blond hair" src="/images/Instructor-Hero-2_1.avif" class="header80_image" />
              </div>
              <div class="header80_image-wrapper is-image-3">
                <img loading="lazy" alt="Rona profile picture" src="/images/Instructor-Hero-5_1.avif" class="header80_image" />
              </div>
              <div class="header80_image-wrapper is-image-4">
                <img loading="lazy" alt="Jasmine profile picture" src="/images/Instructor-Hero-4_1.avif" class="header80_image" />
              </div>
            </div>
          </div>
          <div class="header80_images-wrapper images-wrapper-right">
            <div class="header80_image-list image-list-right">
              <div class="header80_image-wrapper is-image-5">
                <img
                  sizes="(max-width: 799px) 100vw, 799px"
                  alt="Man with long hair and facial hair"
                  src="/images/Instructor-Hero-3_1.avif"
                  loading="lazy"
                  srcset="/images/Instructor-Hero-3_1Instructor-Hero-3.avif 500w, /images/Instructor-Hero-3_1.avif 799w"
                  class="header80_image"
                />
              </div>
              <div class="header80_image-wrapper is-image-6">
                <img
                  sizes="(max-width: 814px) 100vw, 814px"
                  alt="Danny profile picture"
                  src="/images/Instructor-Hero-6_1.avif"
                  loading="lazy"
                  srcset="/images/Instructor-Hero-6_1Instructor-Hero-6.avif 500w, /images/Instructor-Hero-6_1.avif 814w"
                  class="header80_image"
                />
              </div>
            </div>
          </div>
          <div class="header80_content">
            <div class="text-align-center" data-reveal>
              <div class="margin-bottom margin-small">
                <h1 class="heading-style-h1">Meet Our Expert Instructors</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_team12">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="team12_component">
            <div class="margin-bottom margin-xxlarge">
              <div class="text-align-center" data-reveal>
                <div class="max-width-large align-center">
                  <div class="margin-bottom margin-xsmall">
                    <div class="text-style-tagline text-color-accent">Experienced</div>
                  </div>
                  <div class="margin-bottom margin-small">
                    <h2 class="heading-style-h2">Our Instructors</h2>
                  </div>
                  <p class="text-size-medium">Meet our talented team of yoga instructors</p>
                </div>
              </div>
            </div>
            <div class="w-dyn-list">
              <div role="list" class="team12_list w-dyn-items">
                {instructors.map((instructor) => (
                  <div role="listitem" class="w-dyn-item">
                    <a href={`/instructors/${instructor.slug}`} class="team12_item">
                      <div class="margin-bottom margin-small">
                        <div class="team12_image-wrapper">
                          <img loading="lazy" src={instructor.image} alt={instructor.alt} class="team12_image" />
                        </div>
                      </div>
                      <div class="margin-bottom margin-xsmall">
                        <div class="team12_title-wrapper">
                          <div class="class-card-instructor center-flex">
                            <div class="text-size-large text-weight-semibold">{instructor.firstName}</div>
                            <div class="text-size-large text-weight-semibold">{instructor.lastName}</div>
                          </div>
                          <div class="text-size-medium">{instructor.role}</div>
                        </div>
                      </div>
                      <p class="text-rich-text">{instructor.bio}</p>
                      <div class="w-layout-grid team12_social">
                        <span class="social-link w-inline-block">
                          <div class="social-icon w-embed">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.9365 7.06885C8.97358 7.06885 6.51855 9.48155 6.51855 12.4868C6.51855 15.4921 8.93125 17.9048 11.9365 17.9048C14.9418 17.9048 17.3545 15.4498 17.3545 12.4868C17.3545 9.52387 14.8995 7.06885 11.9365 7.06885ZM11.9365 15.9577C10.0318 15.9577 8.46564 14.3916 8.46564 12.4868C8.46564 10.5821 10.0318 9.01594 11.9365 9.01594C13.8413 9.01594 15.4074 10.5821 15.4074 12.4868C15.4074 14.3916 13.8413 15.9577 11.9365 15.9577Z" fill="#513126"></path>
                              <path d="M17.5661 8.16938C18.2441 8.16938 18.7937 7.61981 18.7937 6.94187C18.7937 6.26393 18.2441 5.71436 17.5661 5.71436C16.8882 5.71436 16.3386 6.26393 16.3386 6.94187C16.3386 7.61981 16.8882 8.16938 17.5661 8.16938Z" fill="#513126"></path>
                              <path d="M20.7408 3.76719C19.6403 2.62433 18.0741 2.03174 16.2964 2.03174H7.57678C3.89424 2.03174 1.43921 4.48676 1.43921 8.1693V16.8466C1.43921 18.6667 2.0318 20.2328 3.21699 21.3757C4.35984 22.4762 5.88365 23.0264 7.6191 23.0264H16.254C18.0741 23.0264 19.5979 22.4339 20.6985 21.3757C21.8413 20.2751 22.4339 18.709 22.4339 16.8889V8.1693C22.4339 6.39153 21.8413 4.86772 20.7408 3.76719ZM20.5715 16.8889C20.5715 18.2011 20.1059 19.2593 19.344 19.9788C18.5821 20.6984 17.5239 21.0794 16.254 21.0794H7.6191C6.34926 21.0794 5.29106 20.6984 4.52916 19.9788C3.76725 19.2169 3.3863 18.1587 3.3863 16.8466V8.1693C3.3863 6.89946 3.76725 5.84126 4.52916 5.07936C5.24873 4.35978 6.34926 3.97883 7.6191 3.97883H16.3387C17.6085 3.97883 18.6667 4.35978 19.4286 5.12169C20.1482 5.88359 20.5715 6.94179 20.5715 8.1693V16.8889Z" fill="#513126"></path>
                            </svg>
                          </div>
                        </span>
                        <span class="social-link w-inline-block">
                          <div class="social-icon w-embed">
                            <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M17.1761 4H19.9362L13.9061 10.7774L21 20H15.4456L11.0951 14.4066L6.11723 20H3.35544L9.80517 12.7508L3 4H8.69545L12.6279 9.11262L17.1761 4ZM16.2073 18.3754H17.7368L7.86441 5.53928H6.2232L16.2073 18.3754Z" fill="currentColor"></path>
                            </svg>
                          </div>
                        </span>
                        <span class="social-link w-inline-block">
                          <div class="social-icon w-embed">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.3214 5.56219C19.1695 5.4837 19.0217 5.39765 18.8784 5.30438C18.4618 5.02896 18.0799 4.70445 17.7408 4.33781C16.8923 3.36703 16.5754 2.38219 16.4587 1.69266H16.4634C16.3659 1.12031 16.4062 0.75 16.4123 0.75H12.5479V15.6928C12.5479 15.8934 12.5479 16.0917 12.5395 16.2877C12.5395 16.312 12.5372 16.3345 12.5358 16.3608C12.5358 16.3716 12.5358 16.3828 12.5334 16.3941C12.5334 16.3969 12.5334 16.3997 12.5334 16.4025C12.4927 16.9386 12.3208 17.4566 12.0329 17.9107C11.7451 18.3648 11.35 18.7413 10.8825 19.0069C10.3952 19.2841 9.84414 19.4295 9.28357 19.4288C7.4831 19.4288 6.02388 17.9606 6.02388 16.1475C6.02388 14.3344 7.4831 12.8663 9.28357 12.8663C9.62439 12.8659 9.96311 12.9196 10.2872 13.0252L10.2918 9.09047C9.30811 8.9634 8.30872 9.04158 7.35671 9.32008C6.4047 9.59858 5.52074 10.0714 4.7606 10.7086C4.09454 11.2873 3.53457 11.9778 3.10591 12.7491C2.94279 13.0303 2.32732 14.1605 2.25279 15.9947C2.20591 17.0358 2.51857 18.1144 2.66763 18.5602V18.5695C2.76138 18.832 3.12466 19.7278 3.71669 20.483C4.19409 21.0887 4.75811 21.6208 5.3906 22.0622V22.0528L5.39997 22.0622C7.27076 23.3334 9.34497 23.25 9.34497 23.25C9.70404 23.2355 10.9068 23.25 12.2728 22.6027C13.7878 21.885 14.6503 20.8158 14.6503 20.8158C15.2013 20.1769 15.6394 19.4488 15.9459 18.6628C16.2956 17.7436 16.4123 16.6411 16.4123 16.2005V8.27297C16.4592 8.30109 17.0836 8.71406 17.0836 8.71406C17.0836 8.71406 17.9831 9.29063 19.3865 9.66609C20.3934 9.93328 21.75 9.98953 21.75 9.98953V6.15328C21.2747 6.20484 20.3095 6.05484 19.3214 5.56219Z" fill="#513126"></path>
                            </svg>
                          </div>
                        </span>
                      </div>
                    </a>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_layout71">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="layout71_component">
            <div class="w-layout-grid layout71_content">
              <div class="layout71_content-left" data-reveal>
                <div class="margin-bottom margin-xsmall">
                  <div class="text-style-tagline">Yoga</div>
                </div>
                <h2 class="heading-style-h2">Meet Our Talented Yoga Instructors</h2>
              </div>
              <div class="layout71_content-right" data-reveal>
                <div class="margin-bottom margin-small">
                  <p class="text-size-medium">Our instructors are highly trained and passionate about yoga. They bring a unique blend of teaching styles and expertise to our studio, ensuring that every class is a transformative experience. Whether you're a beginner or an advanced yogi, you'll find the perfect instructor to guide you on your yoga journey.</p>
                </div>
                <ul role="list" class="layout71_list">
                  <li class="layout71_item">
                    <p>Expertise in Various Yoga Styles</p>
                  </li>
                  <li class="layout71_item">
                    <p>Personalized Instruction for Every Student</p>
                  </li>
                  <li class="layout71_item">
                    <p>Small Class Sizes for Individual Attention</p>
                  </li>
                </ul>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/classes" class="button is-secondary w-button">View Classes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_testimonial7 background-color-grey">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="margin-bottom margin-huge text-align-center">
            <h2>What customers say</h2>
            <div class="text-block">Flowga has help change many lives</div>
          </div>
          <div class="testimonial7_component">
            <div class="testimonial7_slider w-slider" data-slider>
              <div class="testimonial7_mask w-slider-mask" data-slider-mask>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial-3.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial-2.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="slider-arrow is-centre-previous hide-mobile-landscape w-slider-arrow-left" data-slider-prev aria-label="Previous testimonial">
                <div class="slider-arrow-icon_default">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z" fill="currentColor"></path>
                  </svg>
                </div>
              </button>
              <button type="button" class="slider-arrow is-centre-next hide-mobile-landscape w-slider-arrow-right" data-slider-next aria-label="Next testimonial">
                <div class="slider-arrow-icon_default">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z" fill="currentColor"></path>
                  </svg>
                </div>
              </button>
              <div class="testimonial7_slide-nav w-slider-nav w-slider-nav-invert w-round" data-slider-nav></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_cta29 text-color-white background-color-accent section-dark-wave">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="cta29_component">
            <div class="text-align-center" data-reveal>
              <div class="max-width-large align-center">
                <div class="margin-bottom margin-small">
                  <h2 class="heading-style-h2 text-color-white">Elevate Your Practice</h2>
                </div>
                <p class="text-size-medium text-color-white">Discover our premium classes!</p>
                <div class="margin-top margin-medium">
                  <div class="button-group is-center">
                    <a href="/classes" class="button is-alternate w-button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<script>
  document.querySelectorAll<HTMLElement>('[data-slider]').forEach((slider) => {
    const mask = slider.querySelector<HTMLElement>('[data-slider-mask]');
    const slides = Array.from(slider.querySelectorAll<HTMLElement>('[data-slide]'));
    const nav = slider.querySelector<HTMLElement>('[data-slider-nav]');
    const prev = slider.querySelector<HTMLButtonElement>('[data-slider-prev]');
    const next = slider.querySelector<HTMLButtonElement>('[data-slider-next]');
    if (!mask || slides.length === 0) return;

    let index = 0;
    const dots: HTMLButtonElement[] = [];

    slides.forEach((slide, i) => {
      slide.style.display = i === 0 ? '' : 'none';
      if (nav) {
        const dot = document.createElement('button');
        dot.type = 'button';
        dot.className = 'w-slider-dot' + (i === 0 ? ' w-active' : '');
        dot.setAttribute('aria-label', `Show testimonial ${i + 1}`);
        dot.addEventListener('click', () => goTo(i));
        nav.appendChild(dot);
        dots.push(dot);
      }
    });

    function goTo(i: number) {
      index = (i + slides.length) % slides.length;
      slides.forEach((slide, j) => {
        slide.style.display = j === index ? '' : 'none';
      });
      dots.forEach((dot, j) => dot.classList.toggle('w-active', j === index));
    }

    prev?.addEventListener('click', () => goTo(index - 1));
    next?.addEventListener('click', () => goTo(index + 1));
  });

  // Scroll-triggered reveal (replaces IX2 fade/slide-up)
  const revealEls = document.querySelectorAll<HTMLElement>('[data-reveal]');
  if ('IntersectionObserver' in window) {
    const io = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('is-revealed');
            io.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.2 }
    );
    revealEls.forEach((el) => io.observe(el));
  } else {
    revealEls.forEach((el) => el.classList.add('is-revealed'));
  }

  // header80: .header80_content-wrapper is sticky-pinned for .header80_component's 300vh.
  // Slide each .header80_image-list up in proportion to scroll progress through that
  // section, so the mosaic images scroll up as the page scrolls down.
  const header80 = document.querySelector<HTMLElement>('.header80_component');
  const imageLists = Array.from(document.querySelectorAll<HTMLElement>('.header80_image-list'));
  if (header80 && imageLists.length) {
    let ticking = false;
    const updateHeaderScroll = () => {
      const rect = header80.getBoundingClientRect();
      const total = header80.offsetHeight - window.innerHeight;
      const progress = total > 0 ? Math.min(Math.max(-rect.top / total, 0), 1) : 0;
      imageLists.forEach((list) => {
        const distance = Math.max(list.scrollHeight - window.innerHeight, 0);
        list.style.transform = `translate3d(0, ${-progress * distance}px, 0)`;
      });
      ticking = false;
    };
    window.addEventListener(
      'scroll',
      () => {
        if (!ticking) {
          requestAnimationFrame(updateHeaderScroll);
          ticking = true;
        }
      },
      { passive: true }
    );
    window.addEventListener('resize', updateHeaderScroll);
    updateHeaderScroll();
  }
</script>

<style>
  [data-reveal] {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  [data-reveal].is-revealed {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  /* .header80_content-wrapper is already position:sticky/height:100vh in the site CSS,
     pinning this hero for the full 300vh of .header80_component. The scroll-up motion
     itself was IX2-driven and isn't ported -- rebuild it by translating each
     .header80_image-list upward in proportion to scroll progress through the section. */
  .header80_image-list {
    will-change: transform;
  }
</style>
